<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>DemoWebProject</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.jsp</welcome-file>
<welcome-file>default.htm</welcome-file>
</welcome-file-list>
<!--  Servlet configuration  -->
<servlet>
<servlet-name>demo</servlet-name>
<servlet-class>com.tmf.demo.servlets.MyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>demo</servlet-name>
<url-pattern>/demoServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>saveDetails</servlet-name>
<servlet-class>com.tmf.demo.servlets.AddMedicine</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>saveDetails</servlet-name>
<url-pattern>/saveMedicine</url-pattern>
</servlet-mapping>
</web-app>